<%= form_for task, url: path, html:{class:"new_user", id: "new_user"} do |f| %>
  <div class="form-group">
    <p><%= f.label :project_id, "Assign To Your Project: " %>
    <%= f.collection_select :project_id, current_user.projects.all, :id, :name %></p>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Enter a title", class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, placeholder: "Task details", class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :percent_complete %><br>
    <%= f.text_field :percent_complete, placeholder: "Enter a number 1-100", class:"form-control"%>
  </div>

  <%= f.submit %><br>
<% end %>
