
<tr>
  <td><%= task.title %></td>
  <td><%= task.user.username %> (<a href="
    mailto: <%= task.user.email %>">email</a>)</td>
  <td><%= task.percent_complete %></td>
  <td><%= link_to "Edit", edit_project_task_path(task) %></td>
</tr>
