<h1>Task: <%= @task.title %></h1>

<h2>For project: <%= link_to @task.project.name, project_path(@task.project) %></h2>
<h2>Assigned user: <%= @task.user.username %></h2>

<h3>Task details:</h3>
<p><%= @task.content %></p>

<h3> Completion status:</h3>
<p><%= @task.percent_complete %>%</p>

<!-- Edit TASK -->
<h4><%= link_to "Edit task detail", edit_task_path(@task) %></h4>

<!-- Delete Task -->
<%= form_for @task, method: :delete do |f| %>
  <%= f.submit "Delete task" %><br/>
<% end %>
