<h1>Task: <%= @task.title %>
    <% if @task.user.username == current_user.username %>
      | <%= link_to "Edit", edit_task_path(@task) %>
    <% end %>
</h1> 

<h3>For project: <%= link_to @task.project.name, project_path(@task.project) %></h3>
<h3>Assigned user: <%= @task.user.username %></h3>

<h3>Task details:</h3>
<p><%= @task.content %></p>

<h3> Completion status:</h3>
<p><%= @task.percent_complete %>%</p>
