<h1>Task: <%= @task.title %></h1>

<h3>For project: <%= link_to @task.project.name, admin_project_path(@task.project) %></h3>
<h3>Assigned user: <%= @task.user.username %></h3>

<h3>Task details:</h3>
<p><%= @task.content %></p>

<h3> Completion status:</h3>
<p><%= @task.percent_complete %>%</p>

<!-- Edit TASK -->
<h4></h4>

<!-- Delete Task -->
<%= form_for @task, url: admin_task_path, method: :delete do |f| %>
  <%= f.submit "Delete task" %> | <%= link_to "Edit task", edit_admin_task_path(@task) %><br/>
<% end %>
