<h1>Welcome, <%= @user.username %>!</h1>
<h3>Your Email: <a href="mailto: <%= @user.email %>"><%= @user.email %></a></h3>
<br>

<!-- Show project list-->
<h4>Project List: </h4>
<% if @user.projects.empty? %>
  <p>There are currently no projects to show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Due Date</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render(@user.projects) || "There are no projects to show." %></p>
    </tbody>
  </table>
<% end %>

<!-- Show task list -->
<h4>Tasks Assigned</h4>
<% if @user.tasks.empty? %>
  <p>There are currently no tasks assigned</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Project</th>
        <th>Percent Complete</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render partial: "tasks/task", collection: @user.tasks %></p>
    </tbody>
  </table>
<% end %>
