<h1>Dashboard | <%= link_to "Edit profile", edit_user_path(@user) %>
<h3>Username: <%= @user.username %></h3>
<h3>Email: <a href="mailto: <%= @user.email %>"><%= @user.email %></a></h3>
<h3>Todo:</h3>
<h4>You have <%= @user.tasks.count %> task(s) outstanding | <%= link_to "View your tasks", user_tasks_path(@user.id) %></h4>
<br>

<!-- Show project list-->
<h4>Your Project List: </h4>
<% if @user.projects.empty? %>
  <p>There are currently no projects to show</p>
<% else %>
  <%= render partial: 'projects/list', collection: {projects: @user.projects} %>
<% end %>

<% if current_user.is_admin? %>
  <%= form_for @user, method: :delete do |f| %>
    <%= f.submit "Delete user" %><br/>
  <% end %>
<% end %>
