<tr>
  <td>
    <%= project.name %><br>
    <a href="#" class="js-more" data-id="<%= project.id %>">Show More</a>
    <div class="project-data" data-id="<%= project.id %>"></div>
  </td>
  <td><%= nice_date_format project if project.name != "Unsorted" %></td>
  <td>
    <%= link_to "Go to Project", admin_project_path(project) %>
  </td>
  <td><%= link_to "Edit", edit_admin_project_path(project) if project.name != "Unsorted" %></td>
</tr>
