<div class="center">
  <h1>Create New Project</h1>
  <section class="info">
    <div class="container">
    	<%= form_for @project, url: admin_projects_path, html:{class:"new_user", id: "new_user"} do |f| %>
        <div class="form-group">
          <%= f.label :name%><br>
          <%= f.text_field :name, placeholder: "Enter project name", class:"form-control"%>
        </div>
        <%= f.label :deadline, "Project Deadline"%><br>
        <%= f.date_field :deadline %><br><br>
        <%= f.submit "Create project"%><br>
      <% end %>
    </div>
  </section>
</div>
