<div id="js-previous-project">
  <a href="" data-id=" id="js-previous-project"<%= @project.id %>"><< Previous Project</a>
</div>
<div id="js-next-project">
  <a href="" data-id="<%= @project.id %>">Next Project >> </a>
</div>
<div class="project-summary-show">
  <h3>Project Name: <%= @project.name %></h3> 
  <h4><%= link_to "Edit Project", edit_admin_project_path(@project) %></h4>
  <h3>Deadline: <%= @project.days_remaining %> days (<%= @project.weeks_remaining %> weeks)</h3>
</div>

<div class="project-tasks-show">
  <h3>Project Tasks</h3>
  <% if @project.tasks.empty? %>
    <p>There are currently no users assigned to this project</p>
  <% else %>
    <!-- Filter control -->
    <h5>Filter tasks by users:</h5>
    <%= form_tag(admin_project_path(@project), method: "get") do %>
      <%= select_tag "filter_user_id", options_from_collection_for_select(@users.uniq, "id", "username"), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
      <!-- table -->
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Assignee</th>
          <th>Percent Complete</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <p><%= render partial: "admin/tasks/task", collection: @tasks %></p>
      </tbody>
    </table>
  <% end %>
</div>

<div class="project-users-show">
<!-- Show users assigned to project -->
  <h3>Assigned Users</h3>
    <% if @project.users.empty? %>
      <p>There are currently no users assigned to this project</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Contact</th>
            <th># of tasks assigned</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <p><%= render(@project.users.uniq) %></p>
        </tbody>
      </table>
    <% end %>
</div>

<!-- Delete project -->
<div class="delete-button">
  <%= form_for @project, url: admin_project_path, method: :delete do |f| %>
    <%= f.submit "Delete project" %><br/>
  <% end %>
</div>
