<h1><%= @project.name %></h1>
<%= render partial: 'due_date', locals: {project: @project} %>

<!-- Show users assigned to project -->
<h4>Users assigned to project: </h4>
  <ol>
    <%= render(@project.users) || "There are currently no users assigned to this project"%>
  </ol>

<!-- Show deadline -->
<h4>Project Deliverable Deadline: </h4>
<p><%= due_date @project %></p>

<%= form_for @project, method: :delete do |f| %>
  <%= f.submit "Delete project" %><br/>
<% end %>
