<h1>Project: <%= @project.name %></h1>

<h3>This project is due in <%= @project.days_remaining %> days (<%= @project.weeks_remaining %> weeks)</h3><br>

<!-- Show tasks in project -->
<h4>Project Tasks</h4>

<% if @project.tasks.empty? %>
  <p>There are currently no users assigned to this project</p>
<% else %>
<!-- Filter control -->
      <h5>Filter tasks:</h5>
      <%= form_tag(project_path(@project), method: "get") do %>
        <%= select_tag "filter_user_id", options_from_collection_for_select(@users.uniq, "id", "username"), include_blank: true %>
        <%= submit_tag "Filter" %>
      <% end %> <!-- END FILTER -->
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Assignee</th>
        <th>Percent Complete</th>
        <th>Action</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
      <p><%= render partial: "tasks/task", collection: @tasks %></p>
    </tbody>
  </table>

<% end %>

<!-- Show users assigned to project -->
<h4>Assigned Users</h4>
  <% if @project.users.empty? %>
    <p>There are currently no users assigned to this project</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Contact</th>
          <th>Total # of tasks assigned on all projects</th>
        </tr>
      </thead>
      <tbody>
        <p><%= render(@project.users.uniq) %></p>
      </tbody>
    </table>
  <% end %>

<!-- Show deadline -->
<% if @project.name != "Unsorted" %>
  <h4>Project Deadline</h4>
  <h5><%= due_date @project %></h5>
<% end %>
<br>
