<h1><%= @project.name %></h1>

<h3>This project is due in <%= @project.days_remaining %> days (<%= @project.weeks_remaining %> weeks)</h3><br>

<!-- Show users assigned to project -->
<h4>Users assigned to project: </h4>
  <% if @project.users.empty? %>
    <p>There are currently no users assigned to this project</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Contact</th>
          <th>Details</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <p><%= render(@project.users) %></p>
      </tbody>
    </table>
  <% end %>

<!-- Show deadline -->
<h4>Project Deadline: </h4>
<p><%= due_date @project %></p>

<!-- Add TASK -->
<h4><%= link_to "Add task to project", new_project_task_path(@project) %></h4>

<%= form_for @project, method: :delete do |f| %>
  <%= f.submit "Delete project" %><br/>
<% end %>
