<div id="page-header">
  <h3>Username: <%= @user.username %> | <%= link_to "Edit", edit_admin_user_path %></h3>
  <h3>Email: <a href="mailto: <%= @user.email %>"><%= @user.email %></a> | <%= link_to "Edit", edit_admin_user_path %></h3>
</div>

<p><button type="button" id="show-user-projects-btn" user-id="<%=@user.id%>">Show Projects</button></p>

<div id="project-container">
  <div id='user-project-index'></div>
</div>

<div id="delete-user">
  <%= form_for @user, url: admin_user_path, method: :delete do |f| %>
    <%= f.submit "Delete user" %><br/>
  <% end %>
</div>
