<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagerV001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>


  <!-- template for Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Projects Dashboard", admin_projects_path, class: "navbar-brand" %>
          <%= link_to "All Users", admin_users_path, class: "navbar-brand" %>
          <%= link_to "All Tasks", admin_tasks_path, class: "navbar-brand" %>          
          <%= link_to "Create Task", new_admin_task_path, class: "navbar-brand" %>
          <%= link_to "Create User", new_admin_user_path, class: "navbar-brand" %>
          <%= link_to "Create Project", new_admin_project_path, class: "navbar-brand" %> 
          <%= link_to "Logout", logout_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>
    <div class="center">
      <!-- <div class="info"> -->
        <div class="container">
        <h2>You are logged in as an Administrator</h2>
        <%= yield %>
        </div>
      <!-- </div> -->
    </div>

  </body>

  <!-- Footer template -->
  <footer class="center">
      <h5>Helpful Research Resources:</h5>
      <a href="http://wikipedia.org" >Wikipedia</a><br>
      <a href="http://google.com" >Google it!</a><br>
      <a href="mailto: support@systems.com">Email Support</a>
	</footer>

</html>
