<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagerV001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>


  <!-- template for Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">Home</a>

          <a class="navbar-brand" href="#">Sign Up</a>
          <a class="navbar-brand" href="#">Log in</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="center">
      <section class="info">
        <div class="container">
        <%= yield %>
        </div>
      </section>
    </div>

  </body>

  <!-- Footer template -->
  <footer class="center">
		<p>Helpful Research Resources:<br>
			<a href="http://wikipedia.org" target="_blank">Wikipedia</a><br>
			<a href="http://google.com" target="_blank">Google it!</a><br>
			<a href="mailto: support@systems.com">Email Support</a>
		</p>
		<p><a href="#">Logout</a></p>
	</footer>

</html>
